.pagination {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 24px;
  .pagination-icon {
    background: white;
    border: 1px solid #a7a6a6;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    color: red;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: red;
      color: white;
    }
  }
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: red;
    color: white;
  }
}
