@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@700&family=Inter:wght@200;300;400;500;600;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;500&display=swap');

$font-inter: 'Inter', sans-serif;

.text-fallback {
    color: red;
    font-size: 12px;
    font-weight: 400;
    font-family: $font-inter;
    transform: translateY(-13px);
}