$redColor: #eb5757;
$activeInput: #1a73e8;

.login {
  display: flex;
  .side-image {
    width: 40%;
    height: 900px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://i.ibb.co/X3ZWW7M/sideimage.png");
    background-size: cover;
  }

  .login-form {
    width: 50%;
    gap: 30px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    form {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .login-input {
        gap: 20px;
        display: flex;
        flex-direction: column;
      }

      h2 {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: -15px;
      }

      .inputLogin {
        .input {
          width: 350px;
          height: 50px;
          border-radius: 5px;
          padding: 0 20px;
          border: 1px solid #a7a6a6;
          font-weight: 400;
          font-size: 14px;
        }
        .search-icon {
          display: none;
        }
      }
    }
    .login-option {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      p {
        font-weight: 400;
        font-size: 14px;
      }
      .remember-me {
        display: flex;
        align-items: center;
        gap: 30px;
      }
    }
  }
}
