$activeInput: #1a73e8;

.input-wrapper,
.input {
  display: flex;
  position: relative;
  align-items: center;
  height: 43px;
  font-size: 14px;
  font-weight: 400;
}

.input:focus {
  background: #f0f0f0;
  outline: none;
  border: 1px solid $activeInput;
  box-shadow: 0 0 3px $activeInput;
}
