$redColor: #d61f26;

.rating {
  h6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 91px;
    height: 35px;
    background: $redColor;
    font-weight: 700;
    font-size: 16px;
    color: white;
    gap: 5px;
    border-radius: 5px;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      color: yellow;
    }
  }
}
