$redColor: #eb5757;

.profil {
  padding-top: 100px;
  .profil-background {
    img {
      width: 100%;
      height: 250px;
      position: absolute;
      top: 100px;
    }
  }
  .profil-box {
    position: relative;
    width: 820px;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin: 100px auto;
    display: flex;
    align-items: center;
    border-radius: 5px;
    .profil-info {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      gap: 60px;
      h1 {
        font-weight: 600;
        font-size: 32px;
        margin-top: 50px;
        span {
          color: $redColor;
          font-weight: 900;
        }
      }
      .update-profil {
        display: flex;
        justify-content: center;
        gap: 150px;
      }
    }
  }
}
