.profil-img {
  display: flex;
  flex-direction: column;
  gap: 30px;
  img {
    width: 160px;
    height: 160px;
    background: gray;
    border-radius: 50%;
    margin-left: 8px;
  }
  input[type="file"] {
    display: none;
  }
  .file-upload {
    padding: 0 12px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #a7a6a6;
    border-radius: 8px;
    margin-left: 8px;
    .file-icon {
      font-size: 24px;
    }
    label {
      cursor: pointer;
      font-weight: 600;
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
